{% if block.settings.cta_text %}
  {% capture read_more %}...{{ block.settings.cta_text | link_to: article.url }}{% endcapture %}
{% endif %}

{% if article.image %}
  <img src="{{ article.image.src | img_url: '1600x900', crop: 'center' }}">
{% endif %}

{% if article.title %}
  <h3>{{ article.title }}</h3>
{% endif %}

{% if article.excerpt %}
  {{ article.excerpt | truncatewords: 20, read_more }}
{% else %}
  {{ article.content | truncatewords: 20, read_more }}
{% endif %}

<style>
  .block-{{ block.id }} {
    color: {{ block.settings.text_color }};
    text-align: {{ block.settings.horizontal_alignment }};
  }

  .block-{{ block.id }} img {
    max-width: 100%;
  }
</style>