<a href="{{ product.url }}">

{% if product.images %}
  {% capture image_url %}{{ product.images | first }}{% endcapture %}
  <img src="{{ image_url | product_img_url: '1200x900', crop: 'center' }}">
{% endif %}

{% if product.title %}
  <h3>{{ product.title }}</h3>
{% endif %}

{% if product.price_varies %}
  <p class="h6">{{ product.price_min | money }} - {{ product.price_max | money }}</p>
{% else %}
  <p class="h6">{{ product.price_max | money }}</p>
{% endif %}

</a>

<style>
  .block-{{ block.id }} {
    text-align: {{ block.settings.horizontal_alignment }};
  }

  .block-{{ block.id }} img {
    max-width: 100%;
  }
</style>