{% if block.settings.text %}
  <p class="blockquote">{{ block.settings.text }}</p>
  {% if block.settings.attribution %}
    <p class="h6">{{ block.settings.attribution }}</p>
  {% endif %}
{% endif %}

{% if block.settings.cta_link and block.settings.cta_text %}
  <a href="{{ block.settings.cta_link }}" class="btn btn-secondary">{{ block.settings.cta_text }}</a>
{% endif %}

<style>
  .block-{{ block.id }} {
    color: {{ block.settings.text_color }};
    text-align: {{ block.settings.horizontal_alignment }};
  }
</style>