<ul class="navbar-nav">
  {%- for link in linklists[section.settings.main_linklist].links -%}
    {%- assign three_level_nav = false -%}
    {%- assign child_list_handle = link.title | handleize -%}

    {%- if linklists[child_list_handle].links != blank -%}
      {%- for childlink in linklists[child_list_handle].links -%}
        {%- assign grand_child_list_handle = childlink.title | handleize -%}
        {%- if linklists[grand_child_list_handle].links != blank -%}
          {%- assign three_level_nav = true -%}
        {%- endif -%}
      {%- endfor -%}
    {%- endif -%}

    {%- if linklists[child_list_handle].links != blank -%}
      <li class="nav-item dropdown{% if link.active %} active{% endif %}" aria-has-popup="true">
        <a href="#" class="nav-link dropdown-toggle" id="secondaryNavigation" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{ link.title }}</a>

          {% if three_level_nav %}
            <div class="site-nav__childlist">
              <div class="site-nav__childlist-grid">
                {% if linklists[child_list_handle].links != blank %}
                  {% for childlink in linklists[child_list_handle].links %}
                    {% assign grand_child_list_handle = childlink.title | handle %}
                    <div class="site-nav__childlist-item">
                      <a href="{{ childlink.url }}" class="nav-link">{{ childlink.title | escape }}</a>
                      {% for grandchildlink in linklists[grand_child_list_handle].links %}
                        <ul>
                          <li class="nav-item{% if link.active %} active{% endif %}">
                            <a href="{{ grandchildlink.url }}" class="nav-link">{{ grandchildlink.title | escape }}</a>
                          </li>
                        </ul>
                      {% endfor %}
                    </div>
                  {% endfor %}
                {% endif %}
              </div>
            </div>
          {% else %}
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for childlink in linklists[child_list_handle].links %}
                <li class="dropdown-item {% if childlink.active %}site-nav--active{% endif %}">
                  <a href="{{ childlink.url }}" class="nav-link">{{ childlink.title | escape }}</a>
                </li>
              {% endfor %}
            </ul>
          {% endif %}
      </li>
    {% else %}
      <li class="nav-item{% if link.active %} active{% endif %}">
        <a href="{{ link.url }}" class="nav-link">{{ link.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>


{% comment %} DISPLAY SEARCH/ACCOUNT/CART IF SECONDARY BAR IS DISABLED, OR SECONDARY MENU IS ACTIVE {% endcomment %}
{% if search_cart_account %}
  {% include 'header-search-account-cart' %}
{% endif %}