<!-- /templates/customers/activate_account.liquid -->

<div>
  <div>

    <h1>{{ 'Activate Account' }}</h1>
    <p>{{ 'One more step! Please set your password.' }}</p>

    {% comment %}
      This form must use 'activate_customer_password'
    {% endcomment %}
    <div class="form-vertical">
      {% form 'activate_customer_password' %}

        {{ form.errors | default_errors }}

        <label for="CustomerPassword">{{ 'Password' }}</label>
        <input type="password" value="" name="customer[password]" id="CustomerPassword" placeholder="{{ 'Password' }}">

        <label for="CustomerPasswordConfirmation">{{ 'Password Confirmation' }}</label>
        <input type="password" value="" name="customer[password_confirmation]" id="CustomerPasswordConfirmation" placeholder="{{ 'Password Confirmation' }}">

        <input type="submit" value="{{ 'Submit' }}">
        <input type="submit" name="decline" value="{{ 'Cancel' }}">
      {% endform %}
    </div>

  </div>
</div>
