<!-- /templates/customers/register.liquid -->

<div>

  <div>

    <h1>{{ 'Create Account' }}</h1>

    <div class="form-vertical">
      {% form 'create_customer' %}

        {{ form.errors | default_errors }}

        <label for="FirstName">{{ 'First Name' }}</label>
        <input type="text" name="customer[first_name]" id="FirstName" placeholder="{{ 'First Name' }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>

        <label for="LastName">{{ 'Last Name' }}</label>
        <input type="text" name="customer[last_name]" id="LastName" placeholder="{{ 'Last Name' }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">

        <label for="Email">{{ 'Email' }}</label>
        <input type="email" name="customer[email]" id="Email" class="{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'Email' }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">

        <label for="CreatePassword">{{ 'Password' }}</label>
        <input type="password" name="customer[password]" id="CreatePassword" class="{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'Password' }}">

        <p>
          <input type="submit" value="{{ 'Submit' }}">
        </p>
        <a href="{{ shop.url }}">{{ 'Cancel' }}</a>

      {% endform %}
    </div>

  </div>

</div>
