<!doctype html>
<html {{ checkout_html_classes }}>
  <head>
    {% include 'head' %}
    <!-- LOAD SHOPIFY APP JS -->
    {{ content_for_header }}
    {{ checkout_scripts }}
    {{ checkout_stylesheets }}
  </head>

  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
    <!-- MODALS -->

    <!-- HEADER -->
    {% include 'header' %}

    <!-- MAIN BODY -->
    <div class="container">
      <div id="main" role="main">
      	{{ breadcrumb }}
        {{ content_for_layout }}
        {{ order_summary_toggle }}
        {{ content_for_order_summary }}
        {{ alternative_payment_methods }}
      </div>
    </div>

    <!-- FOOTER -->
    {% include 'footer' %}
		{{ tracking_code }}
  </body>

</html>
