<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js supports-no-cookies" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js supports-no-cookies" lang="{{ shop.locale }}"> <!--<![endif]-->
  <head>
    {% include 'head' %}
    {{ content_for_header }}
  </head>

  <body id="{{ page_title | handle }}" class="template-{{ template.name | handle }}">
    {% section 'header' %}

    <main role="main" id="MainContent" class="container-fluid">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </body>
</html>
