{%- assign limit = section.settings.grid | times: section.settings.rows -%}
{%- case section.settings.grid -%}
{%- when '2' -%}
  {%- assign grid_item_width = 'col-sm-12 col-md-6' -%}
{%- when '3' -%}
  {%- assign grid_item_width = 'col-sm-12  col-md-4' -%}
{%- when '4' -%}
  {%- assign grid_item_width = 'col-sm-12 col-md-3' -%}
{%- when '6' -%}
  {%- assign grid_item_width = 'col-sm-12 col-md-2' -%}
{%- endcase -%}
{% if collection.all_products_count < 1 %}
  {%- assign is_empty_collection = true -%}
{% endif %}
{%- assign default_sort = collection.default_sort_by -%}

{% paginate collection.products by limit %}
  <div data-section-type="collection-template">
    <header class="collection-header row">
      {% if section.settings.show_collection_image and collection.image %}
        <div class="collection-hero">
          <div class="collection-hero__image" style="background-image: url('{{ collection.image | img_url: '300x300' }});"></div>
          <div class="collection-hero__title-wrapper">
            <h1 class="collection-hero__title">{{ collection.title }}</h1>
          </div>
        </div>
        {% if collection.description != blank %}
          <div class="collection-description">
            {{ collection.description }}
          </div>
        {% endif %}
      {% else %}
        <div>
          <div class="section-header text-center">
            <h1>{{ collection.title }}</h1>
            {% if collection.description != blank %}
              <div>{{ collection.description }}</div>
            {% endif %}
          </div>
        </div>
      {% endif %}

      {% if section.settings.tags_enable or section.settings.sort_enable %}
        <div class="filters-toolbar-wrapper">
          <div class="filters-toolbar">
            {% if section.settings.sort_enable %}
              <div class="filters-toolbar__item">
                <label for="SortBy">{{ 'collections.sorting.title' | t }}</label>
                <select name="SortBy" id="SortBy" class="filters-toolbar__input--sort">
                  <option value="manual"{% if default_sort == "manual" %} selected{%- endif -%}>{{ 'collections.sorting.featured' | t }}</option>
                  <option value="best-selling"{% if default_sort == "best-selling" %} selected{%- endif -%}>{{ 'collections.sorting.best_selling' | t }}</option>
                  <option value="title-ascending"{% if default_sort == "title-ascending" %} selected{%- endif -%}>{{ 'collections.sorting.az' | t }}</option>
                  <option value="title-descending"{% if default_sort == "title-descending" %} selected{%- endif -%}>{{ 'collections.sorting.za' | t }}</option>
                  <option value="price-ascending"{% if default_sort == "price-ascending" %} selected{%- endif -%}>{{ 'collections.sorting.price_ascending' | t }}</option>
                  <option value="price-descending"{% if default_sort == "price-descending" %} selected{%- endif -%}>{{ 'collections.sorting.price_descending' | t }}</option>
                  <option value="created-descending"{% if default_sort == "created-descending" %} selected{%- endif -%}>{{ 'collections.sorting.date_descending' | t }}</option>
                  <option value="created-ascending"{% if default_sort == "created-ascending" %} selected{%- endif -%}>{{ 'collections.sorting.date_ascending' | t }}</option>
                </select>
                <input id="DefaultSortBy" type="hidden" value="{{ collection.default_sort_by }}">
              </div>
            {% endif %}
          </div>
        </div>
      {% endif %}
    </header>

    <div id="Collection" class="row grid--view-items">
      {% for product in collection.products %}
        <div class="grid__item grid__item--{{section.id}} {{ grid_item_width }}">
          {% include 'product-card-grid' %}
        </div>
      {% endfor %}
    
      {% if is_empty_collection %}
        <div class="grid__item small--text-center">
          <p class="text-center">{{ 'collections.general.no_matches' | t }}</p>
        </div>
      {% endif %}

      {% if paginate.pages > 1 %}
        {% include 'pagination' %}
      {% endif %}
    </div>
  </div>
{% endpaginate %}

{% schema %}
  {
    "name": "Collection pages",
    "settings": [
      {
        "type": "select",
        "id": "grid",
        "label": "Products per row",
        "default": "4",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "6",
            "label": "6"
          }
        ]
      },
      {
        "type": "select",
        "id": "rows",
        "label": "Rows per page",
        "default": "2",
        "options": [
          {
            "value": "2",
            "label": "2"
          },
          {
            "value": "3",
            "label": "3"
          },
          {
            "value": "4",
            "label": "4"
          },
          {
            "value": "5",
            "label": "5"
          },
          {
            "value": "6",
            "label": "6"
          },
          {
            "value": "7",
            "label": "7"
          },
          {
            "value": "8",
            "label": "8"
          }
        ]
      },
      {
        "type": "checkbox",
        "id": "show_collection_image",
        "label": "Show collection image",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show product vendors",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "sort_enable",
        "label": "Enable sorting",
        "default": true
      }
    ]
  }
{% endschema %}
