{%- assign footer_linklist_one = section.settings.footer_linklist_one -%}
{%- assign footer_linklist_two = section.settings.footer_linklist_two -%}
{%- assign footer_linklist_three = section.settings.footer_linklist_three -%}
{%- assign valid_lists = 0 -%}
{% for block in section.blocks %}
  {% if block.type == 'linklist' %}
    {% if linklists[block.settings.list].links.size > 0 %}
      {% assign valid_lists = valid_lists | plus: 1 %}
    {% endif %}
  {% endif %}
{% endfor %}
{% assign valid_lists = valid_lists | plus: 1 %}
{% assign valid_lists = 12 | divided_by: valid_lists %}

<footer class="site-footer">
  <div class="row">
    {% comment %} NAVIGATION MENUS {% endcomment %}
    {% for block in section.blocks %}
      {% if block.type == 'linklist' %}
        {% if linklists[block.settings.list].links.size > 0 %}
          <ul class="col-12 col-md-{{ valid_lists }}">
            <li><strong>{{ linklists[block.settings.list].title }}</strong></li>
            {% for link in linklists[block.settings.list].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
    {% endfor %}

    {% comment %} TOGGLEABLE SIGNUP FORM {% endcomment %}
    {%- if section.settings.enable_signup -%}
      <form action="/" class="col-12 col-md-{{ valid_lists }}">
        <div class="input-group">
          <input type="text" class="form-control">
          <div class="input-group-append">
            <button type="submit" class="btn btn-secondary">Sign Up</button>
          </div>
        </div>
      </form>
    {%- endif -%}
  </div>

  <div class="row">
    {%- if section.settings.enable_social -%}
      {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
      <div class="col-12 col-md-6">
        {%- for social in social_accounts -%}
          {%- assign social_handle = social | handleize -%}
          {%- capture social_link -%}social_{{ social_handle }}_link{%- endcapture -%}
          {%- if settings[social_link] != blank -%}
            <a href="{{ settings[social_link] }}" title="{{ shop.name }}: {{- social -}}"><small>{{- social -}}</small></a>
          {%- endif -%}
        {%- endfor -%}
      </div>
    {%- endif -%}

    <div class="col-12 col-md-6">
      <small>&copy; {{ 'now' | date: "%Y" }} {{ shop.name | link_to: '/' }}, Website by <a href="https://lucid.nz">Lucid</a>, Powered by <a href="https://www.shopify.com/?ref=lucid-design">Shopify</a></small>
    </div>
  </div>
</footer>

{% if template.directory == 'customers' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
{% endif %}

<!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'app.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
<!--[if lt IE 9]><script src="{{ 'app.js' | asset_url }}"></script><![endif]-->

{% for block in section.blocks %}
  {% if block.type == 'script' %}
    {{ block.settings.footer_script }}
  {% endif %}
{% endfor %}

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "checkbox",
        "id": "enable_signup",
        "label": "Enable newsletter signup",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_social",
        "label": "Enable social links",
        "default": false
      }
    ],
    "blocks": [
      {
        "type": "linklist",
        "name": "Menu",
        "settings": [
          {
            "type": "link_list",
            "id": "list",
            "label": "Select list"
          }
        ]
      },
      {
        "type": "script",
        "name": "Script",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Script Name"
          },
          {
            "type": "textarea",
            "id": "footer_script",
            "label": "Script"
          }
        ]
      }
    ]
  }

{% endschema %}
