{% comment %} LIQUID VARIABLES {% endcomment %}
{%- if section.settings.secondary_linklist != blank or section.settings.secondary_enable == false -%}
  {%- assign search_cart_account = true -%}
{%- else -%}
  {%- assign search_cart_account = false -%}
{%- endif -%}



{% comment %} ANNOUNCEMENT BAR {% endcomment %}
{% if section.settings.announcement_enable and section.settings.announcement_text != blank %}
  <div class="row announcement-bar">
    {% if section.settings.announcement_link %}
      <a href="{{ section.settings.announcement_link }}" class="col">
    {% else %}
      <div class="col">
    {% endif %}

      <p>{{ section.settings.announcement_text }}</p>

    {% if section.settings.announcement_link %}
      </a>
    {% else %}
      </div>
    {% endif %}
  </div>
{% endif %}



{% comment %} SECONDARTY NAVIGATION BAR {% endcomment %}
{%- if section.settings.secondary_enable -%}
  <div class="row">
    {%- if section.settings.secondary_linklist != blank -%}
      <nav class="col">
        <ul class="nav justify-content-end">
          {%- for link in linklists[section.settings.secondary_linklist].links -%}
            <li class="nav-item">
              <a href="{{ link.url }}" class="nav-link{%- if link.active -%} active{%- endif -%}">{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
      </nav>
    {%- else -%}
      {% include 'header-search-account-cart' %}
    {%- endif -%}
  </div>
{%- endif -%}



{% comment %} PRIMARY NAVIGATION BAR {% endcomment %}
<header class="row">
  <nav class="col navbar navbar-expand-md">
    <div class="navbar-brand">
      {%- if section.settings.logo != blank -%}
        <a href="{{ shop.url }}"><img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}"></a>
      {%- else -%}
        <a href="{{ shop.url }}">{{ shop.name }}</a>
      {%- endif -%}
    </div>

    <div class="collapse navbar-collapse{% unless search_cart_account %} justify-content-end{% endunless %}">
      {% include 'header-site-nav' %}
    </div>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavigation" aria-controls="primaryNavigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>


{% schema %}
  {
    "name": "Header",
    "class": "site-nav-wrapper",
    "settings": [
      {
        "type": "header",
        "content": "Announcement Bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_enable",
        "label": "Enable announcement bar",
        "default": false
      },
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement bar text"
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Announcement bar link"
      },
      {
        "type": "header",
        "content": "Secondary Menu Bar"
      },
      {
        "type": "checkbox",
        "id": "secondary_enable",
        "label": "Enable secondary nav",
        "default": false
      },
      {
        "type": "link_list",
        "id": "secondary_linklist",
        "label": "Secondary Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Primary Menu"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}