{%- if section.settings.announcement_enable -%}
  {%- assign enable_announcement = true -%}
{%- endif -%}
{%- if section.settings.announcement_link -%}
  {%- assign has_announcement_link = true -%}
  {%- assign announcement_link = section.settings.announcement_link -%}
{%- endif -%}
{%- if section.settings.announcement_text != blank -%}
  {%- assign has_announcement_text = true -%}
  {%- assign announcement_text = section.settings.announcement_text -%}
{%- endif -%}



{% comment %} ANNOUNCEMENT BAR {% endcomment %}
{% if enable_announcement and has_announcement_text %}
  <div class="row announcement-bar">
    {% if has_announcement_link %}
      <a href="{{ announcement_link }}">
    {% endif %}
        <div class="col">
          <p>{{ announcement_text }}</p>
        </div>
    {% if has_announcement_link %}
      </a>
    {% endif %}
  </div>
{% endif %}

<header data-section-id="{{ section.id }}" data-section-type="header-section" class="row">
  <nav class="navbar navbar-toggleable-md">
    <div class="navbar-brand">
      <a href="{{ shop.url }}">{{ shop.name }}</a>
    </div>
    
    <div class="collapse navbar-collapse">
      {% include 'site-nav' %}
      
      <form action="/search" method="get" role="search" class="form-inline">
        <input type="search" name="q" id="Search" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="form-control">
        <button type="submit" class="btn btn-outline-success">
          {% include 'icon-search' %}
        </button>
      </form>
    </div>

    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account" class="icon-link">{% include 'icon-login' %}</a>
      {% else %}
        <a href="/account/login" class="icon-link">{% include 'icon-login' %}</a>
      {% endif %}
    {% endif %}

    <a href="/cart" class="icon-link">
      {% include 'icon-cart' %}
      {% if cart.item_count > 0 %}
        <div id="CartCount" class="site-header__cart-count">
          <span>{{ cart.item_count }}</span>
          <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
        </div>
      {% endif %}
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "site-nav-wrapper",
    "settings": [
      {
        "type": "checkbox",
        "id": "announcement_enable",
        "label": "Enable announcement bar",
        "default": false
      },
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement bar text"
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Announcement bar link"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "link_list",
        "id": "secondary_linklist",
        "label": "Secondary Menu"
      }
    ]
  }
{% endschema %}