<header data-section-id="{{ section.id }}" data-section-type="header-section">
  <nav class="navbar navbar-toggleable-md">
    <div class="navbar-brand">
      <a href="{{ shop.url }}">{{ shop.name }}</a>
    </div>
    
    <div class="collapse navbar-collapse">
      {% include 'site-nav' %}
      
      <form action="/search" method="get" role="search" class="form-inline">
        <input type="search" name="q" id="Search" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" class="form-control">
        <button type="submit" class="btn btn-outline-success">
          {% include 'icon-search' %}
        </button>
      </form>
    </div>

    {% if shop.customer_accounts_enabled %}
      {% if customer %}
        <a href="/account" class="icon-link">{% include 'icon-login' %}</a>
      {% else %}
        <a href="/account/login" class="icon-link">{% include 'icon-login' %}</a>
      {% endif %}
    {% endif %}

    <a href="/cart" class="icon-link">
      {% include 'icon-cart' %}
      {% if cart.item_count > 0 %}
        <div id="CartCount" class="site-header__cart-count">
          <span>{{ cart.item_count }}</span>
          <span class="icon__fallback-text medium-up--hide">{{ 'layout.cart.items_count' | t: count: cart.item_count }}</span>
        </div>
      {% endif %}
    </a>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type": "radio",
        "id": "align_logo",
        "label": "Logo alignment",
        "default": "left",
        "options": [
          {"value": "left", "label": "Left"},
          {"value": "center", "label": "Centered"}
        ]
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "text",
        "id": "logo_max_width",
        "label": "Custom logo width (in pixels)",
        "default": "100"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "message",
        "label": "Show announcement",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "message_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "message_link",
        "label": "Announcement link",
        "info": "Optional"
      },
      {
        "type": "color",
        "id": "color_bg",
        "label": "Bar",
        "default": "#7796a8"
      },
      {
        "type": "color",
        "id": "color_text",
        "label": "Text",
        "default": "#fff"
      }
    ]
  }
{% endschema %}
