{% include 'header-announcement-bar' %}

{% include 'header-secondary-nav' %}

<header data-section-id="{{ section.id }}" data-section-type="header-section" class="row primary-header">
  <nav class="col navbar navbar-toggleable-md navbar-light primary-nav">
    <div class="navbar-brand">
      {%- if section.settings.logo != blank -%}
        <a href="{{ shop.url }}"><img src="{{ section.settings.logo | img_url: 'master' }}" alt="{{ shop.name }}"></a>
      {%- else -%}
        <a href="{{ shop.url }}">{{ shop.name }}</a>
      {%- endif -%}
    </div>
    
    <div class="collapse navbar-collapse" id="primaryNavigation">
      {%- if section.settings.secondary_linklist != blank or section.settings.secondary_enable == false -%}
        {% include 'header-site-nav', search_cart_account: true %}
      {%- else -%}
        {% include 'header-site-nav' %}
      {%- endif -%}
    </div>

    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#primaryNavigation" aria-controls="primaryNavigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>

{% schema %}
  {
    "name": "Header",
    "class": "site-nav-wrapper",
    "settings": [
      {
        "type": "header",
        "content": "Announcement Bar"
      },
      {
        "type": "checkbox",
        "id": "announcement_enable",
        "label": "Enable announcement bar",
        "default": false
      },
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement bar text"
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Announcement bar link"
      },
      {
        "type": "header",
        "content": "Main header bar"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Main Menu",
        "default": "main-menu"
      },
      {
        "type": "checkbox",
        "id": "secondary_enable",
        "label": "Enable secondary nav",
        "default": false
      },
      {
        "type": "link_list",
        "id": "secondary_linklist",
        "label": "Secondary Menu",
        "default": "main-menu"
      }
    ]
  }
{% endschema %}