<section class="section-{{ section.settings.section_width }}">
  <div class="row content-{{ section.settings.content_width }}">
    {% for block in section.blocks %}
      <div class="col {{ block.type }} block-{{ block.id }} align-self-{{ block.settings.vertical_alignment | default: 'middle' }}">


      </div>
    {% endfor %}
  </div>
</section>

{% schema %}
  {
    "name": "Hero Section",
    "settings": [
      {
        "type": "radio",
        "id": "section_width",
        "label": "Section width options",
        "options": [
          { "value": "full-width", "label": "Full width" },
          { "value": "page-width", "label": "Fixed width (1400px)" }
        ],
        "default": "full-width"
      },
      {
        "type": "radio",
        "id": "content_width",
        "label": "Content width options",
        "options": [
          { "value": "full-width", "label": "Full width" },
          { "value": "page-width", "label": "Fixed width (1400px)" }
        ],
        "default": "full-width"
      },
      {
        "type": "range",
        "id": "padding_top_bottom",
        "label": "Section top/bottom padding",
        "min": 0,
        "max": 10,
        "unit": "rem",
        "default": 1
      },
      {
        "type": "range",
        "id": "margin_top",
        "label": "Section top margin",
        "min": 0,
        "max": 10,
        "unit": "rem",
        "default": 0
      },
      {
        "type": "color",
        "id": "background_color",
        "label": "Section background color"
      }
    ],
    "presets": [
      {
        "name": "Hero Section",
        "category": "General"
      }
    ]
  }
{% endschema %}